/*common styles*/
@font-face {
    font-family: "irsans_regular";
    src: url("../fonts/irsansdn_regular.woff2") format("woff2");
}

@font-face {
    font-family: "irsans_bold";
    src: url("../fonts/irsansdn_bold.woff2") format("woff2");
}

@font-face {
    font-family: "irsans_light";
    src: url("../fonts/irsansdn_light.woff2") format("woff2");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "irsans_regular", serif;
    background-color: #FAFAFB;
}
/*end of common styles*/

/*animations*/
@keyframes floating {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-18px);
    }
}

@keyframes shine {
    0% {
        right: -100%;
    }

    100% {
        right: 180%;
    }
}
/*end of animations*/

/*navbar*/
nav.navbar {
    background-color: #020E26;
    border-bottom: 1px solid #111F37;
}

.navbar-brand img {
    width: 40px;
}

.navbar-brand span {
    font-family: "irsans_bold", serif;
    font-size: 20px;
}

.active {
    color: #13B7A0!important;
}

.nav-item a:hover {
    color: #13B7A0!important;
}

.resume-dn {
    background-color: #13B7A0;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 6px 15px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.resume-dn:hover {
    background-color: #0E9F8C;
    box-shadow: 0 6px 18px rgba(19, 183, 160, 0.25);
}
/*end of navbar*/

/*hero section*/
section.hero-banner {
    min-height: 400px;
    background-image: url("../images/hero_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.hero-img {
    width: 285px;
    display: block;
    margin-left: 50px;
    margin-right: auto;
    animation: floating 2s ease-in-out infinite;
    will-change: transform;
}

.hero-content {
    height: 400px;
}

.hero-text p:first-child {
    font-family: "irsans_regular", serif;
    font-size: 20px;
    color: white;
}

.hero-text p:nth-child(2) {
    font-family: "irsans_bold", serif;
    font-size: 26px;
    color: white;
}

.hero-text p:nth-child(2) span {
    color: #0E9F8C;
}

.hero-text p:last-child {
    font-family: "irsans_regular", serif;
    font-size: 16px;
    color: #A4A2A8;
}

.hero-button a:first-child {
    background-color: #13B7A0;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 8px 25px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.hero-button a:first-child:hover {
    background-color: #0E9F8C;
    box-shadow: 0 6px 18px rgba(19, 183, 160, 0.25);
}

.hero-button a:last-child {
    background: none;
    color: #A4A2A8;
    text-align: center;
    border-radius: 8px;
    padding: 8px 25px;
    text-decoration: none;
    border: 1px solid #A4A2A8;
    transition: all .3s ease-in-out;
}

.hero-button a:last-child:hover {
    background: #89898f;
    color: white;
    border-color: #89898f;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(164, 162, 168, 0.25);
}

.hero-button {
    margin-top: 10px!important;
}

.hero-social a {
    transition: all .3s ease-in-out;
}

.hero-social a:hover {
    color: #0E9F8C!important;
}
/*end of hero section*/

/*synopsis section*/
.synopsis {
    margin-top: -40px;
    position: relative;
    z-index: 10;
}

.synopsis-content {
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    background-color: #FCFCFE;
    padding: 25px 15px;
}

.synopsis-item div.number {
    font-family: "irsans_bold", serif!important;
    font-size: 20px;
}

.synopsis-item div.title {
    font-family: "irsans_regular", serif;
    font-size: 18px;
}
/*end of synopsis section*/

/*start of about me*/
.section-title i {
    color: #13B7A0;
    font-size: 12px;
}

.section-title div {
    font-family: "irsans_bold", serif;
    font-size: 24px;
    color: #101432;
}

.about-text {
    font-family: "irsans_regular", serif;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    color: #101432;
}

.about-profession a.btn-more-info, .btn-pro {
    width: 200px;
    text-decoration: none;
    font-family: "irsans_light", serif;
    font-size: 16px;
    color: #101432;
    border: 1px solid #13B7A0;
    text-align: center;
    padding: 10px 0;
}

.btn-pro {
    font-family: "irsans_bold", serif;
    color: #525252;
    border: 1px solid #A4A2A8;
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

.btn-pro::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 180px;
    top: -70px;
    right: -80px;
    background: linear-gradient(
            90deg,
            transparent,
            rgb(186 176 176 / 0.5),
            transparent
    );
    transform: rotate(35deg);
    filter: blur(4px);
    pointer-events: none;
}

.btn-pro:hover::before {
    animation: shine 0.8s ease-in-out;
}

.btn-pro img {
    width: 25px;
}
/*end of about me*/

/*services*/
.service-item-icon {
    width: 60px;
    height: 50px;
    background-color: #EDF6F6;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item-icon i {
    color: #76AEC3;
    font-size: 32px;
    margin-top: 8px;
}

.services .row > .col-md-3:nth-child(2) .service-item-icon {
    background-color: #EBFAF9;
}

.services .row > .col-md-3:nth-child(2) .service-item-icon i {
    color: #7CCBCE;
}

.services .row > .col-md-3:nth-child(3) .service-item-icon {
    background-color: #F0EFFB;
}

.services .row > .col-md-3:nth-child(3) .service-item-icon i {
    color: #4452C5;
}

.services .row > .col-md-3:nth-child(4) .service-item-icon {
    background-color: #FDF5E9;
}

.services .row > .col-md-3:nth-child(4) .service-item-icon i {
    color: #FAC788;
}

.service-item-title {
    font-family: "irsans_bold", serif;
    font-size: 18px;
    color: #101432;
}

.service-item-desc {
    font-family: "irsans_regular", serif;
    font-size: 16px;
    color: #101432;
}
/*end of services*/






























